services:
  postgres:
    image: postgres:15-alpine
    environment:
      POSTGRES_DB: app
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres   # <-- CONTRASEÑA EN DOCKER
    ports:
      - "5432:5432"

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"

  mongodb:
    image: mongo:7.0
    ports:
      - "27017:27017"

  app:
    profiles: ["with-app"]
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      - postgres
      - redis
      - mongodb
    environment:
      SPRING_PROFILES_ACTIVE: docker
      DB_HOST: postgres
      DB_PORT: 5432
      DB_NAME: app
      DB_USER: postgres
      DB_PASS: postgres              # <-- LA MISMA CONTRASEÑA
    ports:
      - "8080:8080"
