spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/app
    username: postgres
    password: informatica18
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    open-in-view: false

  data:
    mongodb:
      host: mongodb
      port: 27017
      database: app

  redis:
    host: redis
    port: 6379

logging:
  level:
    org.springframework.jdbc.core.JdbcTemplate: INFO
    org.hibernate.SQL: INFO
